include ../common/big-button

mixin text-form(name, title, value, link, dataRole, buttonName)
    form.text-form.form(action="/", data-role=`${dataRole}`)
        .form__item
            .form__title= name
        .form__item
            input.form-2__input(type="text" placeholder=`${title}`, value=`${title}`, data-input="title" )
        .form__item
            | <textarea class="form-2__textarea" placeholder="value" data-input="text">#{value}</textarea>
        if link
           .form__item
                input.form-2__input(type="text" placeholder=`${link}`, value=`${link}` , data-input="link")
        .form__item
            +big-button('', 'Сохранить', buttonName)