extends ../admin.layout.pug
include ../common/title
include ../common/one-field-form
include ../common/text-form
include ../common/gallery-form
include ../common/events-table-form
include ../common/contacts-admin-form
include ../common/speakers-form
include ../common/file-form

block content
    .admin(data-role="admin-container", style=`background-image: url('${mainBackgorund}');`)
        .admin__nav
            include ../common/logo
            a(href="/out").big-button.admin__out Выйти
        .admin__title
            +title('title--center title--light', 'Страница администратора')
        .admin__grid
            .admin__item
                +one-field-form('Дата для таймера(гггг,мм,чч)', 'text', `${header.timerYear}, ${header.timerMounth}, ${header.timerDays}`, 'timer-input', `${header.timerYear}, ${header.timerMounth}, ${header.timerDays}`)
            .admin__item
                +file-form()
            .admin__item
                +one-field-form('Email для заявок', 'email', header.emailForRegistration, 'email-reg-input', 'Введите email')
            .admin__item
                +text-form('Приветственный текст', welcomeText.title, welcomeText.text, false, 'welcomeText', 'saveWelcomeText')
            .admin__item
                +events-table-form(events.rows)
            .admin__item
                +text-form('Промо текст', promoText.title, promoText.text, promoText.link, 'promoText', 'savePromoText')
            .admin__item
                +gallery-form(gallery)
            .admin__item
                +contacts-admin-form(contacts)
            .admin__item
                +speakers-form(speakers)

                